<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Enter Chatroom</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="wrapper">
    <form [formGroup]="form">
      <ion-input
        label="Username"
        label-placement="stacked"
        fill="outline"
        formControlName="username"
      ></ion-input>
      <div class="btn-wrapper">
        <ion-button
          class="ion-margin-top"
          [disabled]="!this.form.get('username')?.value"
          >Enter Chatroom</ion-button
        >
      </div>
    </form>
  </div>
</ion-content>
