<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Enter Chatroom</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="wrapper">
    <form [formGroup]="form" (ngSubmit)="enterChatroom()">
      <ion-input
        label="Username"
        label-placement="stacked"
        fill="outline"
        formControlName="username"
      ></ion-input>
      <div class="btn-wrapper">
        <ion-button
          onKeyUp
          class="ion-margin-top"
          [disabled]="!this.form.get('username')?.value || loading"
          (click)="enterChatroom()"
        >
          <span *ngIf="loading">
            Opening Chats <ion-spinner></ion-spinner>
          </span>
          <span *ngIf="!loading"> Enter Chatroom </span>
        </ion-button>
      </div>
    </form>
  </div>

  <ion-toast
    [isOpen]="isToastOpen"
    [message]="toastMessage"
    [duration]="1500"
    (didDismiss)="setOpen(false)"
  ></ion-toast>
</ion-content>
